files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGeTCCBGGgAwIBAgIRAJ6hUoO+ecZclvAto11PzjIwDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMzA0MTMwMDAwMDBaFw0y
      MzA3MTIyMzU5NTlaMCAxHjAcBgNVBAMTFWJ5dW11bW15NC00LmlzNDA0Lm5ldDCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ2Oll/U2QR92SSs4e+tCWn9
      vq7BJtXLatltEdYRgys6oKA5HCMgy0FcLYxkOtU+dQBIdO+Ik0Gfn/29zX1cTj2f
      rUi57c3j/YHA6piTiEI/pxssHeXWKTcBmhEWNHnhhnXQno/wg7jyAoiWQOqHsNtX
      zhVng/vhcU7yHMahxjlC3bnlsP7pAod/45cUdEI64wT7rY5rP4iAHkrWl+9dyttk
      ryAD5kg/MerxWQkXhHMT0+lA9qP3TLIxP7aQ+uFQJ/N7Jpz+pgmFjely6chLphZv
      yoqo/N2leQ9HEpxLCdQnv3Vfs0SN/neliEEAodgVacBddJ9tfhIQObUWy49ZnCUC
      AwEAAaOCAoEwggJ9MB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0G
      A1UdDgQWBBT0+ZvUETsPYNn+GgePcEcdkW+5PTAOBgNVHQ8BAf8EBAMCBaAwDAYD
      VR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0g
      BEIwQDA0BgsrBgEEAbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3Rp
      Z28uY29tL0NQUzAIBgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcw
      AoY/aHR0cDovL3plcm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21h
      aW5TZWN1cmVTaXRlQ0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5v
      Y3NwLnNlY3RpZ28uY29tMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDwAHcArfe++nz/
      EMiLnT2cHj4YarRnKV3PsQwkyoWGNOvcgooAAAGHe56tSwAABAMASDBGAiEAg8YA
      IejAWUxZ/6DLWw2n5ULqMnTRxDAB9x6b4aHIIUgCIQDMEn3nu13aCo+oL7y6G9nj
      AKZj+s+ZbGEI0cP2URfrlgB1AHoyjFTYty22IOo44FIe6YQWcDIThU070ivBOlej
      UutSAAABh3uesFEAAAQDAEYwRAIgN9D1FXQ+RUY2BOgksrpzPLkgLkxzNOI+bkfN
      hT7pQnICIA5zC8Pd9QSocyQFgZACvhe/ZTpr+ih10IG/fACYpbnWMCAGA1UdEQQZ
      MBeCFWJ5dW11bW15NC00LmlzNDA0Lm5ldDANBgkqhkiG9w0BAQwFAAOCAgEATkka
      RYtzA+cqXfXlzv+AQA16qCbGPmcZaBzp0AmKk+2TXCHzkcALWPd6EQjyQ3p92AxX
      wa4Yh370kIqV79B0IpCx7R1G270XSgRhbQMv5ymTjcjIHmJx+Yu7AY0l5q/FY4oL
      2tgmjThiuxPFtMWjxIt3fwjUtuvqjErqZHP/AgCG4fc19ItZrJXk+tkrt/cOlmjV
      qm6JVJuAmIuhMdBIU3FTnONA7TBe88A2ZvYJ7lyk352goRuveZXM8+nEXXwAmXqf
      2FdiMzgCE2ipVGXLW4Po/XZuLPsIbsh7eyYioL3PjvVQw/Ilr36g+kx0DVn00KsH
      FebCDO955GV8SFx6H8apOMGQHslDI8Zqu/bG2cteDPox9AalgCSnpy2t5lC63fiu
      nXyqc+OsXulDzRZbsqrnMtfKTz1qSkhHiVnJ8zD9DzbG+0tUSU01XhDOfNLVee5M
      qdV+7auU+/xtWzwRjbpguw4eoC4LnEs8TrDa1UWqIeUYwOS1BEZB5+VolTFoSdZ8
      mPsktrwnqfoosmbRR7N5mg4q4uAx/el1k+X4H3SGW8MtSl1J2n9xLkI5V8aoBwbQ
      kL1wEPdF96BpVJ7bh9Q9UvAWv0UQJnLoZN2c8ThixA3fw8UgSiMJKJ0YczRxqQUm
      G0R7cKQQXtqXQl3eVZhLKNJ5LYx0BGtVLmPL5EU=
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAnY6WX9TZBH3ZJKzh760Jaf2+rsEm1ctq2W0R1hGDKzqgoDkc
      IyDLQVwtjGQ61T51AEh074iTQZ+f/b3NfVxOPZ+tSLntzeP9gcDqmJOIQj+nGywd
      5dYpNwGaERY0eeGGddCej/CDuPICiJZA6oew21fOFWeD++FxTvIcxqHGOULdueWw
      /ukCh3/jlxR0QjrjBPutjms/iIAeStaX713K22SvIAPmSD8x6vFZCReEcxPT6UD2
      o/dMsjE/tpD64VAn83smnP6mCYWN6XLpyEumFm/Kiqj83aV5D0cSnEsJ1Ce/dV+z
      RI3+d6WIQQCh2BVpwF10n21+EhA5tRbLj1mcJQIDAQABAoIBAB7G9bTunR31f29c
      nh31jTs5KAB3FqD4xXyHg85vSVIud6YUwdxS0aGI4hTkl2GEe9J8VOtdoHZXOieU
      5gkw+M+s22qzdzKa8LBiAPGhECLw0DHMomJ9PTvTgkcIMWQFnABzqiWv8+syyy/n
      OfMWYoPWWRlxSSTw2vNy9BARFemlSJt0Q9d8gahabU0nZs+tvDrfPW/Ue0z66kjc
      rpeIkSHyZmxWsXUiPWFBudGMGNl6U5bFQF8bCeOYrWHjDgYtPu7k2OFLWP7wah8D
      HfQRklICJmpj2caRYBOkI7QlX6n5AXd7XIOnPRkijvse6D7Eh73ZXuuFwb+4mwN7
      lLOlA9kCgYEA7Z03qN1lPd8Cd5CUtJOuNCdj8ATdZXHduNphusRAtcgiYZt0YpI/
      t6/ruJ63ZdkHW0CJSAjuz+kFnKRcMenMvGZ9hb/zH4ZKFetJHtn+ZFPW3vue2e1y
      Up0ERthFoFanpODkm6kUEiHvQxHr/gy7Rm+H1wFydINPMCcdGl2qZVcCgYEAqb+O
      kh1EtxVFcAh8Ee1opojlhaUIDNnrZkiaeA9Vsz2AchjqQ680f7hCorWvdY6ByqoP
      fElMN4s/sbzPkAf3I8yVzyImUMFauP5/mZhI48iBy5fK+6fytRVuXLzCvwzI3RmQ
      P72iyCIMA7h2HgWRR3ZoBHaSv4olzo/iF5f0QOMCgYBJCAxmc329kYChnSeHhOiD
      ESRPTj96AZBjU4O8Mrus45FlrLEN5uN8oq5xtR6rSBRRwLkxEcXM01MtPPs1QCX0
      NhAYftHL+6tjp0h3GgttbLNbH71IQAnmSGpbF/f2ewvVymWZTlNj61gtpiGBmQoq
      cPcwZzp1gzJgm3T/eJB5ywKBgDSXngOVP+H9nCru5gnj5YWbaolyrUDWD8H8Aqfq
      EGJdTruLDqHz2a8slrC02+zvPzVcZTnbt9qJsS1PU3vLi/2yeEPZz8c7cPFaIIyl
      CwhP6i77E6/OxDrore3bqfbpbh5auj+VcKbTLafFcgsxLGbYv7eKSUNA+R+7opAu
      y0WDAoGBAK2m8BRTT11VbZjgOxiH0B7JgWF237sUUv8KODg/Twk90Jy24tlhhdRB
      EFWYkIx/orGFcO1MU0bcZCgigPHUEQ2Oz81fulW5R7FewXHwyn2+SQDQtTVu+1LC
      9g8VkYCiuA7KlWD+s9hpbpuFcetx2gC++qbKG3tM/I20D7DL8Os0
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "systemctl restart nginx"