@{
    ViewData["Title"] = "Supervised Analysis";
}
<h1>@ViewData["Title"]</h1>

@section scripts {
    <script type="text/javascript" src="/js/submit.js"></script>
}

<!DOCTYPE html>
<html lang="en">

@model EgyptBYU.Models.MummyEntity

<h2>Enter a new burial record</h2>

<form id="makeitgoform">
    <!-- Add your input fields here -->
    <label asp-for="squarenorthsouth"></label>
    <input type="text" name="squarenorthsouth" class="form-control" />

    <label asp-for="squareeastwest"></label>
    <input type="text" name="squareeastwest" class="form-control" />

    <label asp-for="area"></label>
    <select name="area" class="form-control">
        <option value="NE">NE</option>
        <option value="NNW">NNW</option>
        <option value="NW">NW</option>
        <option value="SE">SE</option>
        <option value="SW">SW</option>
    </select>

    <label asp-for="sex"></label>
    <select name="sex" class="form-control">
        <option value="F">Female</option>
        <option value="M">Male</option>
    </select>

    <label asp-for="depth"></label>
    <input type="text" name="depth" class="form-control" />

    <label asp-for="ageatdeath"></label>
    <select name="ageatdeath" class="form-control">
        <option value="A">Adult</option>
        <option value="C">Child</option>
        <option value="I">Infant</option>
        <option value="N">Newborn</option>
    </select>

    <label asp-for="haircolor"></label>
    <select name="haircolor" class="form-control" />
        <option value="A">Brown-Red</option>
        <option value="B">Brown</option>
        <option value="D">Blond</option>
        <option value="K">Black</option>
        <option value="R">Red/Red-Bl</option>
        <option value="U">Unknown</option>
    </select>

    <label asp-for="facebundles"></label>
    <select name="facebundles" class="form-control" />
        <option value="TR_E">TR_E</option>
        <option value="Y">Yes</option>
    </select>

    <button name="harvey" id="makeitgo" type="button" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All"></div>
</form>
<div id="resultContainer"></div>
<br />
<br />


