@{
    ViewData["Title"] = "Unsupervised Analysis:";
}
<h1>@ViewData["Title"]</h1>

@*Displays graphs for unsupervised*@

<!DOCTYPE html>
<html>
<head>
    <h4>Changes in Burial Practices Over Time</h4>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            margin: 20px;
            width: 300px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            border-radius: 5px;
            overflow: hidden;
        }

            .card img {
                width: 100%;
                height: auto;
            }

            .card h2 {
                padding: 10px;
                margin: 0;
                background-color: #333;
                color: #fff;
                text-align: center;
            }
    </style>
</head>
<body>
    <br />

    <div class="container">
        <div class="card">
            <h2>Mummy Age by Depth</h2>
            <img src="~/img/depth_age.png" />
        </div>
        <br />
        <br />
        <p>
            Burials deeper than 1.5 meter are primarily adults. As time progresses and depth decreases, more children are found.
            This suggests that Egyptains began mummifying and burying children around 1.5 meters deep.
        </p>
        <br />
        <div class="card">
            <h2>Head Direction by Depth</h2>
            <img src="~/img/depth_head.png" />
        </div>
        <br />
        <br />
        <p>
            Mummies shallower than 1.5 meter primarily face west. However, at a depth of 1.5 meters, nearly half of mummies face east.
            This likely indicates a cultural change at that point in time.
        </p>
        <br />
        <div class="card">
            <h2>Sex by Depth</h2>
            <img src="~/img/depth_sex.png" />
        </div>
    </div>
    <br />
    <br />
    <p>
        Deeper than 1 meter, only male mummies have been found. However, shallower than 1 meter, more female mummies have been found.
        This potentially indicates a cultural change ancient Egyptian culture, gender perception, and burial practices.
    </p>
    <br />
    <div class="card">
        <h2>Textile Color by Depth</h2>
        <img src="~/img/depth_color.png" />
    </div>
    <br />
    <br />
    <p>
        The color of textiles changed as time progressed in Egypt. Many purple and brown textiles were found with at the 1.0 - 1.5 depth,
        while at the 0.5 - 1.0 depth, blue and yellow textiles were found.
    </p>
    <br />
    <div class="card">
        <h2>Textile Material by Depth</h2>
        <img src="~/img/depth_material.png" />
    </div>
    <br />
    <br />
    <p>
        While other burial practices relating to textiles changed, the materials from which the textiles are made remain fairly constant over time.
    </p>
    <br />
    <div class="card">
        <h2>Textile Type by Depth</h2>
        <img src="~/img/depth_function.png" />
    </div>
    <br />
    <p>
        Similarly to textile materials, the primary use of the textiles seems to have remained constant over time.
    </p>
    <br />
    <br />
    <br />
</body>
</html>
